html,body{height:100%; margin:0px;}
body{ background:#fff url(../images/bg.png) repeat-x center top;}
.login_page {width: 100%;margin: 0px auto;padding: 0px;}

/*-- logo+导航 --*/
#head{padding-bottom:10px; margin-bottom:15px}
.logo{ text-align:left;padding:11px 0 0 16px; line-height:25px; position:absolute; color:#FFF}
.logotext{ font-size:26px; margin-top:10px;}
.logotext span{margin:10px 0px 0 14px;font-size:25px; }
.logotext p{margin:0 0px 0 14px;font-size:12px}

/* 正文 */
#content{ background:url(../images/conbg.png) no-repeat;}

.logincontent{ background:#0c635a;}
.loginconbg{ background:url(../images/loginbg.png) left bottom no-repeat; height:334px;}

/* 登陆窗口 */
.loginbox{position:absolute;width:336px;height:292px;right:21px;top:21px;background:url(../images/logbg.png);}
.ltitle{ font-size:22px; height:22px; line-height:22px; padding-bottom:20px; margin-top:13px;}
.ltitle .title{color:#fff;}
.ltitle .titleEng{ margin-left:7px;color:#cadfe0; line-height:30px; font-size:14px;}
.ltext{}
.Linput a{ color:#2e8cf1}
.Linput {color:#4a9ced; font-size:14px;line-height:37px; font-size:12px;  width:340px; margin:0 auto 18px auto}
.Linput .input{background:#fff; color:#466c68; font-size:14px;width:220px;outline: 0 none;border:0;line-height:37px;height:37px;vertical-align: middle;padding-left:40px;}
.Linput .input:focus{border:0;0}
.Linput .name{ background:#ecf5fa url(../images/box_icn.png) 15px 11px no-repeat}
.Linput .password{ background:#ecf5fa url(../images/box_icn.png) 15px -36px no-repeat}
.Linput .login a{ display:block; text-align:center; background:#fff;font-size:16px; width:110px; height:35px;line-height:35px; color:#FFF}
.Linput .login a:hover{ background:#43a0cf; text-decoration:none}
.Linput .button{ background:#f4ba37; width:260px; height:50px; border:0}
.Linputfot{ margin-right:36px;}
.Linputfot a{ color:#FFF; margin-left:10px;}
.Linputfot a:hover{ color:#f4ba37;}

/* 底部 */
#infoot {color:#999;font-size:12px;line-height:20px;padding:32px 0;background:url(../images/infotbg.png) repeat-x;margin-top:2px}
